:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --color-body-darker: #5c5577;
  --border-radius: 30px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/*Typography*/
::selection {
  background: var(--color-primary);
  color: #fff;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 0.6rem;
  line-height: 1.1;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0px;
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
    font-weight: 500;
  }
}

/*Links*/
a {
  text-decoration: unset;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.5s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/*Badge*/
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  color: white;
}

.badge-small {
  font-size: 1.6rem;
}

.badge-body-color {
  background-color: #00d9ff;
}
.badge-normal-color {
  background-color: #02cdf1;
}
.badge-popular-color {
  background-color: #126de4;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge-small {
    font-size: 1.2rem;
  }
}

/*List*/
.list {
  list-style: none;
  padding-left: 0;
}

.list-inline .list_item {
  display: inline-block;
}

.list-tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  margin: 2rem 0;
  color: var(--color-headings);
}
.list-tick .list_item {
  padding-left: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .list-tick .list_item {
    padding-left: 0;
  }
}
/*Icons*/
.icon {
  height: 40px;
  width: 40px;
}
.icon--primary {
  fill: var(--color-headings);
}
.icon--white {
  fill: white;
}
.icon--primary-color {
  fill: var(--color-primary);
}

.icon-container {
  display: inline-flex;
  height: 60px;
  width: 60px;
  background-color: #f3f9fa;
  border-radius: 60px;
  justify-content: center;
  align-items: center;
}
.icon-container-accent {
  background-color: var(--color-accent);
}

/*Buttons*/
.button {
  border-radius: 40px;
  border-width: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.button-accent {
  background-color: var(--color-accent);
  color: white;
}
.button-accent:hover {
  background: #dd3004;
}
.button-secondary {
  background-color: var(--color-secondary);
  color: white;
}
.button .icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 10px;
  vertical-align: middle;
}
.button-secondary:hover {
  background: #00bcdd;
}

.outline-button {
  background-color: white;
  border: 2px solid var(--color-headings);
  color: var(--color-headings);
}
.outline-button:hover {
  background-color: var(--color-headings);
  color: white;
}
.block-button {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
  }
}

/*Inputs*/
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
  overflow: hidden;
}
::placeholder {
  color: #cdcbd7;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
  white-space: nowrap;
}
.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
}
.input-group button {
  margin: 4px;
}

/*Card*/
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__heading,
.card__body {
  padding: 2rem 3.5rem;
}

.card-primary .card__heading {
  background-color: var(--color-primary);
  color: white;
}
.card-secondary .card__heading {
  background-color: var(--color-secondary);
  color: white;
}

/*Plans*/
.plan__name {
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
  color: white;
}

.plan__price {
  font-size: 6rem;
}
.plan__billing-cycle {
  font-size: 2rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 0.5rem;
}
.plan__description {
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list_item {
  margin-bottom: 2rem;
}
.card__heading {
  position: relative;
}
.plan--popular .card__heading::before {
  content: url(/icons/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  right: 8%;
  top: -6px;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }
}

/*Media*/
.media {
  display: flex;
}
.media__body {
  margin: 0 2rem;
}
.media_title {
  margin-top: 0;
}
.media__image {
  margin-top: 15px;
}

/*Quote*/
.quote {
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 300;
  color: var(--color-body-darker);
  line-height: 1.5;
  margin: 50px 0 0 0;
  overflow: hidden;
}
.quote_text::before,
.quote_text::after {
  content: '"';
}

.quote_author {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
}
.quote_organization {
  font-size: 2rem;
  color: var(--color-headings);
  opacity: 0.4;
  font-style: normal;
}
.quote_image {
  margin-top: 0;
}
.quote-icon-line {
  width: 50px;
}
@media screen and (min-width: 768px) {
  .quote,
  .quote_author {
    font-size: 2.4rem;
  }
  .quote_organization {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote_author {
    font-size: 2rem;
  }
  .quote_organization {
    font-size: 1.6rem;
  }
}
/*Grid*/
.grid {
  display: grid;
  justify-items: center;
}
@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid--cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*Testimonial*/
.testimonial {
  padding: 3rem;
}
.testimonial_image {
  width: 100%;
}
.image_container {
  position: relative;
}
.testimonial_icon_container {
  position: absolute;
  right: -32px;
  top: 23px;
  height: 64px;
  width: 64px;
}
.testimonial_icon {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 768px) {
  .image_container {
    height: 80%;
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .testimonial .quote {
    margin-left: 60px;
  }
}
/*Callouts*/
.callout {
  background-color: #2584ff;
  color: white;
  border-radius: 7px;
  text-align: center;
  padding: 2.9rem 2.3rem;
}

.callout_title {
  color: white;
}
.callout_button {
  font-size: 1.7rem;
  padding-left: 8.9rem;
  padding-right: 8.9rem;
  justify-self: center;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .callout {
    flex-direction: row;
  }
  .callout_text {
    text-align: left;
  }
  .callout_title {
    font-size: 4rem;
  }
  .callout_button {
    padding: 3rem 8rem;
    margin-left: 60px;
    margin-right: 20px;
    white-space: nowrap;
  }

  .callout .grid--cols-2 {
    grid-template-columns: 1fr auto;
  }
}
/*Collapsible*/
.collapsible_header {
  display: flex;
  justify-content: space-between;
}
.collapsible_heading {
  margin: 0;
  font-size: 3rem;
}
.collapsible_chevron {
  transform: rotate(-90deg);
  transition: transform 0.5s;
}
.collapsible_content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s, opacity 0.5s;
}
.collapsible--expanded .collapsible_chevron {
  transform: rotate(0);
}
.collapsible--expanded .collapsible_content {
  max-height: 100vh;
  opacity: 1;
}

/*Blocks*/
.block {
  padding: 6rem 2rem;
  --padding-vertical: 6rem;
}
.block-dark {
  background-color: black;
  color: #7b858b;
}
.block-heading {
  margin-top: 0;
}
.block-dark .block-heading {
  color: white;
}
.block-skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 6rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}

.block-skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 6rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}
.block__header {
  text-align: center;
  margin-bottom: 4rem;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/*Logo*/
.nav-bar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-height: 1140px;
  background-color: black;
}
.nav-bar-logo {
  height: 38px;
  width: 150px;
}
.nav-bar_list {
  font-size: 2rem;
  width: 100%;
  margin: 0;
}
.nav-bar-list_item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid grey;
  cursor: pointer;
}
.nav-bar-list_item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav-bar-list_item > a:hover {
  color: #fff;
}
.nav--toggler {
  opacity: 1;
  border-radius: 5px;
  transition: opacity 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 0 3px #666;
  cursor: pointer;
}
.nav-bar.collapsible--expanded .nav--toggler {
  opacity: 0.5;
  box-shadow: none;
}
@media screen and (min-width: 768px) {
  .nav--toggler {
    display: none;
  }
  .nav-bar_list {
    width: auto;
    display: flex;
    align-items: center;
    max-height: 100%;
    opacity: 1;
  }
  .nav-bar-list_item {
    border: 0;
    font-size: 1.6rem;
  }
}
/*Hero*/

.hero_tagline {
  font-size: 2rem;
  letter-spacing: 1px;
  color: #b9c3cf;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-bottom: 5rem;
}
.hero_banner {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero_content {
    align-self: center;
  }
  .hero_banner {
    align-self: center;
  }
}
/*Domain*/
.block-domain .input-group {
  box-shadow: 0px 0px 30px 20px #e6ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 600px;
}
.block-domain-prices {
  display: grid;
  grid-template-rows: repeat(2, 6rem);
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  max-width: 700px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .block-domain-prices {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

/*Block Card*/
.block-card .grid {
  gap: 8rem 4rem;
}

.block-card .plan {
  max-width: 500px;
}
.block-card .plan.plan--popular {
  transition: transform 0.5s;
}
.block-card .plan.plan--popular:hover {
  transform: scale(1.15);
}
.block-card .plan {
  transition: transform 0.2s ease-out;
}
.block-card .plan:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  .block-card {
    max-width: 1140px;
    margin: 0 auto;
  }
  .block-card .plan.plan--popular {
    transform: scale(1.1);
  }
}

/*Featured block*/
.block-font-image {
  width: 100%;
}
.block-font {
  gap: 4rem 2rem;
  max-width: 1140px;
  margin: 12rem auto;
}
.block-font-header {
  margin-top: 0 1rem;
}
.information-block {
  line-height: 1.5;
}
.block-font:first-of-type {
  margin-top: 6rem;
}
@media screen and (min-width: 768px) {
  .block-font:nth-of-type(even) .information-block {
    order: 2;
  }
  .information-block {
    font-size: 1.8rem;
  }
}
/*Showcase Block*/

.showcase-image {
  width: 100%;
}

.showcase-media {
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .showcase-block .grid {
    grid-template-columns: 50% 50%;
  }
  .showcase-picture {
    justify-self: end;
  }
  .showcase-image {
    width: auto;
    max-width: 700px;
  }
}
