<section class="block">
  <header class="block__header">
    <h2>What our Customer are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium,
      recusandae.
    </p>
  </header>
  <div class="card testimonial">
    <div class="grid grid--cols-2">
      <div class="image_container">
        <img class="testimonial_image" src="/images/testimonial.jpg" alt="" />
        <span
          class="icon-container icon-container-accent testimonial_icon_container"
        >
          <svg class="icon icon--white testimonial_icon">
            <use xlink:href="/icons/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>
      <blockquote class="quote">
        <p class="quote_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
          suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
          lacus vel facilisis.
        </p>
        <footer>
          <div class="media">
            <div class="media__image quote_image">
              <svg class="icon icon--primary quote-icon-line">
                <use xlink:href="/icons/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media_title quote_author">John Smith</h3>
              <p class="media_text quote_organization">ABC company</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</section>
