<footer class="block footer_block">
  <div class="container grid footer_sections">
    <div class="footer-logo">
      <img class="footer-image" src="/images/logo.png" alt="" />
      <p>Copyright 2020 Mosh Hamedani</p>
    </div>
    <section class="footer_section collapsible collapsible--expanded">
      <div class="collapsible_header">
        <h2 class="collapsible_heading">PRODUCTS</h2>
        <svg class="icon icon--primary collapsible_chevron">
          <use xlink:href="/icons/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible_content">
        <ul class="list">
          <li class="list-item"><a href="">Website Hosting</a></li>
          <li class="list-item">
            <a href="">Free Automated Wordpress</a>
          </li>
          <li class="list-item"><a href="">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="footer_section collapsible">
      <header class="collapsible_header">
        <h2 class="collapsible_heading">COMPANY</h2>
        <svg class="icon icon--primary collapsible_chevron">
          <use xlink:href="/icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible_content">
        <ul class="list">
          <li class="list-item"><a href="">About</a></li>
          <li class="list-item"><a href="">Affiliates</a></li>
          <li class="list-item"><a href="">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="footer_section collapsible">
      <header class="collapsible_header">
        <h2 class="collapsible_heading">SUPPORT</h2>
        <svg class="icon icon--primary collapsible_chevron">
          <use xlink:href="/icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible_content">
        <ul class="list">
          <li class="list-item"><a href="">Contact</a></li>
          <li class="list-item"><a href="">Knowledge Base</a></li>
          <li class="list-item"><a href="">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="footer_section collapsible">
      <header class="collapsible_header">
        <h2 class="collapsible_heading">DOMAINS</h2>
        <svg class="icon icon--primary collapsible_chevron">
          <use xlink:href="/icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible_content">
        <ul class="list">
          <li class="list-item"><a href="">Domain Checker</a></li>
          <li class="list-item"><a href="">Domain Transfer</a></li>
          <li class="list-item"><a href="">Free Domain </a></li>
        </ul>
      </div>
    </section>
    <script src="js/main.js"></script>
  </div>
</footer>
