<blockquote class="quote">
  <p class="quote_text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum fuga illum,
    cupiditate qui est unde error minima autem soluta, reiciendis in! Nesciunt,
    totam voluptatibus! Voluptatum nesciunt expedita ipsum dolorum? Dolorum!
  </p>
  <footer>
    <div class="media">
      <div class="media__image quote_image">
        <svg class="icon icon--primary">
          <use xlink:href="/icons/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media_title quote_author">John Smith</h3>
        <p class="media_text quote_organization">ABC company</p>
      </div>
    </div>
  </footer>
</blockquote>
